# See https://help.github.com/articles/ignoring-files/

# dependencies
node_modules/
.pnp
.pnp.*
.pnpm-store
jspm_packages/
bower_components/
web_modules/

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# runtime data
pids
*.pid
*.seed
*.pid.lock

# coverage
coverage
*.lcov
.nyc_output

# build outputs
.next/
out/
build/
dist/
.output
.nuxt
.svelte-kit/
.vite/
.cache
.parcel-cache
.docusaurus
.serverless/
.fusebox/
.firebase/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# env files
.env
.env.*
!.env.example

# misc
.DS_Store
*.pem
.lock-wscript
.tern-port

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# vscode
.vscode-test

# prisma
/lib/generated/prisma

# vercel
.vercel

# package lock
package-lock.json